*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: 'hsl(0, 0%, 52%)';
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  height: 100vh;
}
